<div class="my-wrapper">
  <div class="banner" style="background-image: url('cocktails-background.jpg');">
    <div class="banner-content">

      <h1> Cocktails </h1>
      <p>Create an amazing cocktail</p>
      <%= link_to "CREATE NOW !", new_cocktail_path, class: "btn btn-danger btn-lg" %>
      <%= link_to "Select by photo !", "#", class: "btn btn-danger btn-lg" %>


      <!-- SLICE BOX CODE  -->

      <div class="wrapper">
        <ul id="sb-slider" class="sb-slider">
          <% @cocktails.each do |cocktail| %>
            <li>
              <%= cocktail.name %>
              <%= image_tag "christmas-drinks-header.jpg" %>
            </li>
          <% end %>
        </ul>


        <div id="shadow" class="shadow"></div>

        <div id="nav-arrows" class="nav-arrows">
          <a href="#">Next</a>
          <a href="#">Previous</a>
        </div>

        <div id="nav-dots" class="nav-dots">
          <span class="nav-dot-current"></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>

      </div> <!-- wrapper -->

      <!-- FIN DE LA SLICE BOX -->

    </div> <!-- banner-content -->
  </div> <!-- my-wrapper -->


  <div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-2">
        <h5 class="text-center"><%= link_to cocktail.name, cocktail_path(cocktail), class: "title-index" %></h5>
        <% if cocktail.photo.present? %>
        <% url = cl_image_path cocktail.photo.path %>
        <% else %>
        <% url = image_path 'christmas-drinks-header.jpg' %>
        <% end %>
        <div class="avatar" style="background-image: url('<%= url %>')">

        </div>
      </div>
      <% end %>
    </div>
  </div>

</div>










